<p-carousel class="slider-container" [value]="products" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
    [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">

    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3 margin-b-18">
                    <img [src]="product.image" alt="icon">
                </div>
                <div>
                    <span class="p-mb-1 text-description-slider">{{product.description}}</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>