<div class="page">
    <div class="content">
        <div class="row row--one">
            <div class="column--left text-center text-left-desktop">
                <h1 class="headline--h1">The most beautiful
                    <span>planner</span> app
                </h1>
                <p class="margin-t-20 line-height-26">Plancy does a great job planning your day, week,
                    and month.
                    User experience
                    was crafted
                    to give you the
                    most from using it on both iPhone and iPad.</p>
                <div class="form-container">
                    <app-submit-form></app-submit-form>
                </div>
            </div>
            <div class="column--right">
                <img src="../../../assets/images/magic-box.png" alt="" width="332" height="435">
            </div>
        </div>
        <div class="row row--two text-center margin-tlr-row">
            <h2 class="headline--h2">Over 12 million people
                rely on <span class="text-color-hightlight">Plancy</span> app</h2>
            <div class="column flex-container column--editable-text line-height-26 ">
                <div class="flex-item">
                    <p class="edit--p"><span class="quotes-icon">We</span> have a powerful iPhone calendar app on
                        our hands
                        here – meetings,
                        locations, notes,
                        tasks…everything
                        under one roof.</p>
                </div>
                <div class="flex-item">
                    <p class="edit--p"><span class="quotes-icon">When</span> it comes to combining both tasks
                        lists and
                        calendar events into
                        one, the Plancy app currently
                        does
                        it best.</p>
                </div>
                <div class="flex-item">
                    <p class="edit--p"><span class="quotes-icon">Plancy</span> gets close to being my ideal
                        iPhone
                        calendar
                        app for
                        the current state of calendar and
                        reminders
                        clients.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h3 class="headline--h3 margin-t-100 margin-b-50">Feautures you'll <span
                    class="text-color-hightlight">love</span></h3>
            <app-carusel-slider></app-carusel-slider>
        </div>
    </div>
</div>