<header class="header-container">
    <app-header></app-header>
</header>
<div class="page">
    <div class="page--container ">

        <div class="content">
            <div class="row row--one">
                <div class="star-container">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="star-1"
                            d="M17.0083 0.669206C17.1088 0.123321 17.8912 0.123321 17.9917 0.669206L18.6614 4.30441C19.7887 10.4235 24.5765 15.2113 30.6956 16.3386L34.3308 17.0083C34.8767 17.1088 34.8767 17.8912 34.3308 17.9917L30.6956 18.6614C24.5765 19.7887 19.7887 24.5765 18.6614 30.6956L17.9917 34.3308C17.8912 34.8767 17.1088 34.8767 17.0083 34.3308L16.3386 30.6956C15.2113 24.5765 10.4235 19.7887 4.30441 18.6614L0.669206 17.9917C0.123321 17.8912 0.123321 17.1088 0.669206 17.0083L4.30442 16.3386C10.4235 15.2113 15.2113 10.4235 16.3386 4.30442L17.0083 0.669206Z"
                            fill="#926CFF" />
                    </svg>
                    <svg id="star-2--container" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="star-2"
                            d="M11.7517 1.13295C11.786 0.838165 12.214 0.838165 12.2483 1.13295L12.898 6.7137C13.1662 9.01708 14.9829 10.8338 17.2863 11.102L22.867 11.7517C23.1618 11.786 23.1618 12.214 22.867 12.2483L17.2863 12.898C14.9829 13.1662 13.1662 14.9829 12.898 17.2863L12.2483 22.867C12.214 23.1618 11.786 23.1618 11.7517 22.867L11.102 17.2863C10.8338 14.9829 9.01708 13.1662 6.7137 12.898L1.13295 12.2483C0.838165 12.214 0.838165 11.786 1.13295 11.7517L6.7137 11.102C9.01708 10.8338 10.8338 9.01708 11.102 6.7137L11.7517 1.13295Z"
                            fill="#926CFF" />
                    </svg>

                </div>
                <div class="column--left text-center text-left-desktop">
                    <h1 class="headline--h1">The most beautiful
                        <span>planner</span> app
                    </h1>
                    <p class="margin-t-20 line-height-26 text-white">Plancy does a great job planning your day, week,
                        and month.
                        User experience
                        was crafted
                        to give you the
                        most from using it on both iPhone and iPad.</p>
                    <div class="form-container">
                        <app-submit-form></app-submit-form>
                    </div>
                </div>
                <div class="column--right">
                    <img src="../../../assets/images/magic-box.png" alt="" width="332" height="435">
                </div>
            </div>
            <div class="row row--two text-center margin-tlr-row">
                <h2 class="headline--h2">Over 12 million people
                    rely on <span class="text-color-hightlight">Plancy</span> app</h2>
                <div class="column flex-container column--editable-text line-height-26 ">
                    <div class="flex-item">
                        <p class="edit--p text-white"><span class="quotes-icon">We</span> have a powerful iPhone
                            calendar app on
                            our hands
                            here – meetings,
                            locations, notes,
                            tasks…everything
                            under one roof.</p>
                    </div>
                    <div class="flex-item">
                        <p class="edit--p text-white"><span class="quotes-icon">When</span> it comes to combining both
                            tasks
                            lists and
                            calendar events into
                            one, the Plancy app currently
                            does
                            it best.</p>
                    </div>
                    <div class="flex-item">
                        <p class="edit--p text-white"><span class="quotes-icon">Plancy</span> gets close to being my
                            ideal
                            iPhone
                            calendar
                            app for
                            the current state of calendar and
                            reminders
                            clients.</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <h3 class="headline--h3 margin-t-100 margin-b-50">Feautures you'll <span
                        class="text-color-hightlight">love</span></h3>
                <app-carusel-slider class="slider-carusel--container"></app-carusel-slider>
            </div>
        </div>
    </div>
</div>