@import '../../../../styles/index';

.form-container {
  input {
    width: 100%;
    max-width: 335px;
    color: $text-gray;
    caret-color: $violet-button;
    background-color: $background-transparent;
    @include input-border;
    &:focus {
      opacity: $text-opacity;
    }
  }
  textarea {
    &:focus {
      opacity: $text-opacity;
    }
  }
}
