@import '../../../../styles/index';

.form-container {
  input {
    width: 100%;
    max-width: 335px;
    padding-bottom: 7px;
    padding-left: 6px;
    color: $text-gray;
    caret-color: $violet-button;
    background-color: $background-transparent;
    @include input-border;
    &:focus {
      opacity: $text-opacity;
    }
    @include respond-above(sm) {
      width: 261px;
    }
  }
  textarea {
    &:focus {
      opacity: $text-opacity;
    }
  }
  @include respond-above(sm) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    button {
      width: 122px;
    }
  }
}
