<div class="nav">
    <a class="nav-link" routerLink="/adoption" routerLinkActive="nav_link--active"
        (click)="toggleMenuVisibility()">About</a>
    <a class="nav-link" routerLink="/tobedone" routerLinkActive="nav_link--active"
        (click)="toggleMenuVisibility()">Pricing</a>
    <a class="nav-link" routerLink="/tobedone" routerLinkActive="nav_link--active"
        (click)="toggleMenuVisibility()">Contact</a>
    <a class="nav-link" routerLink="/tobedone" routerLinkActive="nav_link--active"
        (click)="toggleMenuVisibility()">Blog</a>
</div>