@import '../../../../styles/index.scss';

.nav {
  width: 100%;
  &--container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $mobile-menu-bg;
    @include respond-above(sm) {
      width: auto;
      flex-direction: row;
      padding: 0 63px 0 0;
      background-color: transparent;
    }
  }
  .nav-link {
    color: $text-dark;
    opacity: $text-opacity;
    font-size: $font-size-mobile-link;
    font-weight: $font-weight-thin;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 0 8px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    &:last-of-type {
      border-bottom: none;
    }

    @include respond-above(sm) {
      font-size: 16px;
      color: $text-light;
      line-height: $logo-height;
      border-bottom: none;
      margin-right: 36px;
      &:last-of-type {
        margin-right: 0;
      }
    }

    &--active {
      color: violet;
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }
  }
}
