.button {
  &--main {
    @include main-btn-style;
    &-header {
      width: 121px;
      height: 30px;
      align-self: center;
      @include main-btn-style;
    }
    &-sent {
      width: 100%;
      max-width: 335px;
      height: 40px;
      @include main-btn-style;
      @include respond-above(sm) {
        width: 122px;
        margin-left: $margin-left-20;
      }
    }
  }
}

// custom primeng carusel arrow btns
.p-carousel-prev-icon,
.pi {
  width: 25px;
  height: 25px;
}
.pi-chevron-left {
  &:before {
    @include slider-arrow-buttons;
    background: url('../../assets/images/icon-left-arrow.svg') no-repeat center
      center;
  }
}
.pi-chevron-right {
  &:after {
    @include slider-arrow-buttons;
    background: url('../../assets/images/icon-right-arrow.svg') no-repeat center
      center;
  }
}
