@mixin input-border {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $border-color-grey;
  border-left: none;
}
@mixin input-border-invalid {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $border-color-invalid;
  border-left: none;
}
@mixin main-btn-style {
  color: #fff;
  background-color: $button-color-main;
  font-size: $font-size-btn;
}
@mixin slider-arrow-buttons {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
}
@mixin box-img-bg {
  background-image: radial-gradient(
    circle,
    rgba(39, 33, 57, 1) 0%,
    rgba(18, 18, 19, 1) 100%
  );
}
@mixin text-style-opacity {
  opacity: $text-opacity;
  color: $white-txt;
}
