@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.headline {
  &--h1 {
    font-size: $font-size-h1;
    line-height: 43px;
    font-family: 'Zen Dots', cursive;
    @include respond-above(sm) {
      font-size: $font-size-h1-desktop;
      line-height: 65px;
    }
    span {
      background: -webkit-linear-gradient(#bb61f2, #926cff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &--h2 {
    line-height: 38px;
    font-size: $font-size-h2;
    font-weight: $font-weight-bolder;
    margin-bottom: $margin-bottom-48;
    opacity: $text-opacity;
    max-width: 325px;
    text-align: center;
    display: inline-block;
    span {
      color: $violet-button;
    }
    @include respond-above(sm) {
      max-width: 448px;
      line-height: 50px;
      font-size: $font-size-h2-desktop;
    }
  }
  &--h3 {
    line-height: 26px;
    font-size: $font-size-h3;
    font-weight: $font-weight-bolder;
    opacity: $text-opacity;
    @include respond-above(sm) {
      font-size: $font-size-h3-desktop;
      line-height: 50px;
    }
  }
}

.line-height-26 {
  line-height: 26px;
}

.text-center {
  text-align: center;
}
.text-left-desktop {
  @include respond-above(sm) {
    text-align: left;
  }
}
