*,
body {
  font-family: 'Open Sans', sans-serif;
}

.headline {
  &--h1 {
    color: $white-txt;
    font-size: $font-size-h1;
    line-height: 43px;
    font-family: 'Zen Dots', cursive;
    @include respond-above(sm) {
      font-size: $font-size-h1-desktop;
      line-height: 65px;
    }
    span {
      background: -webkit-linear-gradient(#bb61f2, #926cff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &--h2 {
    line-height: 38px;
    font-size: $font-size-h2;
    font-weight: $font-weight-bolder;
    margin-bottom: $margin-bottom-48;
    color: $white-txt;
    opacity: $text-opacity;
    max-width: 325px;
    text-align: center;
    display: inline-block;
    span {
      color: $violet-button;
    }
    @include respond-above(sm) {
      max-width: 448px;
      line-height: 50px;
      font-size: $font-size-h2-desktop;
    }
  }
  &--h3 {
    line-height: 26px;
    font-size: $font-size-h3;
    font-weight: $font-weight-bolder;
    opacity: $text-opacity;
    color: $white-txt;
    @include respond-above(sm) {
      font-size: $font-size-h3-desktop;
      line-height: 50px;
    }
  }
}

.line-height-26 {
  line-height: 26px;
}

.text-center {
  text-align: center;
}
.text-left-desktop {
  @include respond-above(sm) {
    text-align: left;
  }
}

.text-white {
  @include text-style-opacity;
}
.text-description-slider {
  font-size: 16px;
  line-height: 22px;
  margin-top: 18px !important;
  max-width: 120px;
  @include text-style-opacity;
}

.popup-h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  color: #222222;
}
.popup-text {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}
