// FONTS
$font-size-btn: 12px;
$font-size-mobile-link: 18px;
$font-size-h2: 28px;

$font-weight-thin: 300;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$text-opacity: 0.8;
$quotes-opacity: 0.4;

// SIZE
$logo-width: 26px;
$logo-height: 28px;
